/* Resetting some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e8eaec;
}
.navi{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar {
  background-color: #adae6f;
  /* padding: 2rem; Increased padding for more spacing */
  justify-content: space-between; 
  margin-top:auto ;
  
  
}
.navbar-nav{
  
  /* padding-left: 20rem; Increased padding for more spacing */
  display:flex;
  flex-direction: row;
  justify-content: space-between; 
  margin-top:auto ;
}

.navbar-nav.btn-outline-success{
  padding-left: 10rem
}

.navbar-nav.brand {
  color: #e8eaec;
  font-weight: bold;
  font-size: 1.5rem;
}



.navbar-nav li a {
  color: #f28989;
  font-weight: 600;
  padding: 0.8rem 1rem; /* Increased padding for more spacing */
  transition: color 0.3s ease;
}

.navbar-nav li a.active,
.navbar-nav li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #28a745;
  padding-right: 2rem;
}

.list-group-item {
  border-radius: 0.5rem;
  background-color: #daeaf5;
  border: 1px solid #bdd7ee;
  padding: 3rem 4rem 5rem; /* Increased padding for more spacing */
  transition: background-color 0.3s ease;
  justify-content: space-between;

}

.list-group-item.active,
.list-group-item:hover {
  background-color: #bdd7ee;
  border-color: #bdd7ee;
}

.card {
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(152, 188, 136, 0.2);
  margin-bottom: 1.5rem; /* Added margin for more spacing between cards */
}

.card-header {
  background-color: #c6d8c0;
  font-weight: bold;
  color: #435c51;
  justify-content: center;

}

.card-body {
  padding-bottom: 2rem; /* Increased padding for more spacing */
  padding-left: 3rem;
  justify-content: center;
}



.card-body img {
  max-width: 100%;
  height: auto;
}

.card-body .row {
  margin-right: -1.8rem; /* Adjusted for increased padding */
  margin-left: -1.8rem; /* Adjusted for increased padding */
}

.card-body .col-md-3 {
  padding: 0 1.8rem; /* Increased padding for more spacing */
  background-color: #f5f8f5;
}

.card-title {
  margin-top: 1.5rem; /* Increased margin for more spacing */
  font-size: 1.8rem; /* Increased font size */
  color: #28a745;
}

.card-text {
  font-size: 1.5rem; /* Increased font size */
  font-weight: bold;
}

.btn-outline-success {
  color: #28a745;
  border-color: #28a745;
  transition: background-color 0.3s ease, color 0.3s ease;
  size:4ch;
}

.btn-outline-success:hover {
  background-color: #218838;
  color: #fff;
}

.table {
  border-top: 2px solid #bdd7ee;
  margin-bottom: 0;
}

th, td {
  border-top: 2px solid #bdd7ee;
  padding: 1.8rem; /* Increased padding for more spacing */
}

.money-positive {
  color: #28a745;
}

.money-negative {
  color: #dc3545;
}
